{% extends "homeboard/base.html" %}
{% block content %}
{% load static %}
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    .boxed {
     border: 5px dashed #9F403B ;
     padding: 100px;
     margin-left: 350px;
     margin-right: 350px;
}
.boxed {
     border: 5px #9F403B ;
     padding: 10px;
     margin-bottom: 100px;
     margin-left: 350px;
     margin-right: 350px;
}

.boxed2 {
     border: 5px dashed #9F403B ;
     padding: 10px;
     margin-right: 100px;
     margin-left: 100px;
     margin-bottom: 100px;
     margin-top: 100px;

}

.spaced {
     border: 5px #9F403B ;
     padding: 50px;
     margin-left: 5px;
     margin-right: 5px;
}

   span {


font-size: 2em;


}

   .spansmall {


font-size: 1em;


}
    </style>
<div class="boxed">
    <h1>Downloads</h1>
    <h1>----------------------------</h1>
    <div class="spaced"></div>
    <img src="{% static '/images/pythonlogoresize.png' %}"/>
</div>
<div class="boxed">
<span>
    Usually downloading .exe's from websites is dangerous, especially if the website is not widely used. The reason for this is that .exe's have the potential
    to take control of your computer and mess with it. The source code in the .exe's are avalible on <a href="https://github.com/smokeytube?tab=repositories" target="_blank">my github</a>
    with comments telling you what the code does. If you still have questions, please contact me on email at zachary.a.davis.6@gmail.com or message me on discord
    at ZachD#0132
    </span>
</div>
<div>
  <div class="boxed2">
  <h1>Kahootspammer</h1>
    <a  href="/downloads/kahootspampy.exe" download> Kahoot Spammer </a>
    <h3>-------</h3>
    <a  href="https://github.com/smokeytube/kahootspampy" target="_blank"> Source Code </a>
    <div>
    <span class="spansmall">
    Ever wanted to spam the class kahoot? All the free online tools not working?
    Well confuse your teacher with this easy-to-use program!
    </span>
    </div>
  </div>
    <div class="boxed2">
    <h1>Baitbot Farmer</h1>
    <h6>This program is only</h6>
    <h6>avalible on github</h6>
    <h3>-------</h3>
    <a  href="https://github.com/smokeytube/baitbotfarmer" target="_blank"> Source Code </a>
        <div>
    <span class="spansmall">
    Farm the discord bot Baitbot with an automation tool that will type
    -work and -beg every 5 minutes and 30 seconds respectively.
    </span>
    </div>
  </div>
</div>

<div>
  <div class="boxed2">
  <h1>Itslearning Auto Login</h1>
    <a  href="/downloads/itslearningautologin.exe" download> Itslearning Auto Login </a>
    <h3>-------</h3>
    <a  href="https://github.com/smokeytube/itslearningautologin" target="_blank"> Source Code </a>
    <div>
    <span class="spansmall">
    Hate having to log in every day at 9 for virtual school? Well, leave open
    a spare laptop with this program running and never worry about waking up
    on time again!
    </span>
    </div>
  </div>
    <div class="boxed2">
    <h1>Baitbot Farmer</h1>
    <h6>This program is only</h6>
    <h6>avalible on github</h6>
    <h3>-------</h3>
    <a  href="https://github.com/smokeytube/baitbotfarmer" target="_blank"> Source Code </a>
  </div>
</div>

<div class="boxed">
<i>Created Wednesday, November 11 2020 | </i>
<i>Pushed into production on Thursday, November 26 2020 | </i>
<i>Created by Zachary Davis</i>
<p>
<h5>Contact me on discord at ZachD#0132 for any questions comments or concerns</h5>
</p>
</div>
</div>
<a  href="/project/download" download> hi 🙃 </a>
<!-- Xli eyxs mxwpievrmrk pskmr mw e vex 😳 -->
{% endblock content %}
