{% extends "homeboard/base.html" %}
{% block content %}
{% load static %}
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    .boxed {
     border: 5px dashed #9F403B ;
     padding: 100px;
     margin-left: 350px;
     margin-right: 350px;
}
.boxed2 {
     border: 5px #9F403B ;
     padding: 100px;
     margin-left: 350px;
     margin-right: 350px;
}
    .boxed3 {
     border: 5px dotted #9F403B ;
     padding: 10px;
     margin-left: 400px;
     margin-right: 400px;
}

.spaced {
     border: 5px #9F403B ;
     padding: 50px;
     margin-left: 5px;
     margin-right: 5px;
}
    #rulebox {
  background-color: #ffffff ;
}

    #Announcements{
        margin-top: 100px;
    }
    </style>

<div class="boxed" id="rulebox">
    <h1>Welcome to the Forsyth message board!</h1>
    <h1>----------------------------</h1>
    <img src="{% static '/images/logoresize.png' %}"/>
    <h2>Rules:</h2>
    <h3>Have common sense! Remember, you are talking to people you know in real life!</h3>
</div>
<div class="boxed2" id="Announcements">
<h1>Announcements</h1>
<h1>----------------------------</h1>
<h2>Thank you to our contributers!</h2>
<div class="boxed3">
<h3>Alpha Testers</h3>
<h5>---------------------</h5>
<h4>doctorwail</h4>
<h4>bruhmoment</h4>
<h4>Andrew B.</h4>
<h4>Xeno_503</h4>
</div>
<div class="spaced"></div>
<div class="boxed3">
<h3>UI Suggestors</h3>
<h5>---------------------</h5>
<h4>Alpha-X2</h4>
<h4>bruh</h4>
</div>
<h1></h1>
<i>Created Wednesday, November 11 2020 | </i>
<i>Pushed into production on Thursday, November 26 2020 | </i>
<i>Created by Zachary Davis</i>
<p>
<h5>Contact me on discord at ZachD#0132 for any questions comments or concerns</h5>
</p>
</div>
<a  href="/project/download" download> Download Document </a>
<!-- Xiz hfu bo TTM dfsujgjdbuf xifo J dbo kvtu vtf djqifs fodszqujpo? 🤪 -->
{% for post in posts %}
            <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1" id="First">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}" id="Previous">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
           
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
