{% extends "homeboard/base.html" %}
{% block content %}
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    .boxed {
     border: 5px dashed #9F403B ;
     padding: 100px;
     margin-left: 200px;
     margin-right: 200px;
}
    </style>

<div class="boxed">
    <h1>Welcome to the forsyth message board!</h1>
    <h2>Rules:</h2>
    <h3>1) No talk of illegal activities</h3>
    <h3>2) No NSFW images. Period.</h3>
    <h2>Rules for Brandom:</h2>
    <h3>1) No gore. That's it.</h3>
    <h3>I would like to keep the images SFW but if you must, you can.</h3>
</div>
<!-- i hate jews -andrew burkhart -->
{% endblock content %}
